body {
  margin: 0;
}

.hero-section {
  background-color: #e1ebe8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloud-right {
  margin-left: 600px;
  margin-top: 100px;
}

.cloud-left {
  margin-right: 500px;
}

.pic1 {
  width: 70px;
  height: 70px;
  margin-top: 30px;
  border-radius: 50%;
}

.name-heading {
  font-family: "Brush Script MT", cursive;
  font-size: 80px;
  color: rgb(10, 132, 112);
  text-shadow: 2px 4px 5px grey;
}

.job-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  color: rgb(25, 120, 120);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 800px;
  align-items: center;
}

.navlinks {
  position: relative;
  margin-left: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  color: #45b29a;
}

.hi {
  font-size: 40px;
  color: rgb(21, 144, 128);
}
.introsection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pic2 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.paragraph1 {
  width: 40%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.519);
}

.imageDescription {
  flex-direction: row;
}

.cando-image {
  height: 100px;
  max-width: 100%;
  border-radius: 50%;
}

.whatIcanDo {
  text-align: center;
  font-size: 50px;
  color: rgb(25, 84, 76);
}

.design-heading {
  text-align: center;
  font-size: 25px;
  color: rgb(17, 146, 128);
}

.paragraph2 {
  width: 40%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.519);
}

.design-para {
  display: flex;
  justify-content: center;
}

.designBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.pic3para2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 500px;
}

.pic3 {
  margin-left: 300px;
  float: left;
  max-width: 100%;
  height: auto;
}

.develop-heading {
  text-align: left;
  font-size: 25px;
  color: rgb(21, 144, 128);
  margin-left: 330px;
}

.paragraph3 {
  width: 40%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.519);
}

.pic4 {
}

.pic4para3 {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 500px;
  margin-left: 250px;
}

.canHelp {
  text-align: center;
  font-size: 50px;
  color: rgb(25, 84, 76);
}

.help-text {
  text-align: center;
  font-size: 25px;
  color: rgb(21, 144, 128);
}

.contactText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.519);
  text-align: center;
}

.button {
  border: none;
  color: azure;
  background-color: #45b29a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 18px 50px;
  margin-top: 2%;
  margin-left: 44%;
  cursor: pointer;
}

.footer-list {
  display: flex;
  position: relative;
  justify-content: space-between;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-size: 15px;
  color: rgb(21, 144, 128);
}
